:root {
    --header_border: #CACACA;
    --text_color : #7D7D7D;
    --btn_next_backgound : #E47C17;
    --btn_back_backgound : #575757;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    /* font-weight: 300; */
}
.frp_container{
    display: flex;
    padding: 12px;
}
.frp_sidebar{
    background: #000000;
    color: #FFFFFF;
    width: 18%;
    min-height: 100vh;
}
.frp_sidebar .frp_sidebar_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(24px + 3vh);
    margin-bottom: 3vh;
}
.frp_sidebar .frp_text_after_logo{
    font-size: calc(6px + 0.5vmax);
    letter-spacing: 1.1px;
    font-weight: 200;
    color: var(--text_color);
    padding: 1vw;
}
.frp_sidebar .frp_sidebar_option{
    position: relative;
    border-bottom: 1px solid var(--text_color);
    color: var(--text_color);
    display: flex;
    justify-content: center;
    padding: calc(4px + 2vmax) 0;
    font-size: 1vw;
}
.frp_sidebar .frp_sidebar_option .frp_option_count{
    position: absolute;
    bottom: -1vh;
    left: 0;
    color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: bold;
}
.frp_sidebar .frp_triangle_right {
    position: absolute;
    bottom: -1vw;
    right: -1vw;
	width: 0;
	height: 0;
	border-top: 1vw solid transparent;
	border-left: 1.5vw solid #000000;
	border-bottom: 1vw solid transparent;
}
.frp_sidebar .frp_triangle_left{
    position: absolute;
    bottom: -.25vw;
    right: 0;
	width: 0;
	height: 0;
	border-top: .25vw solid transparent;
	border-right: .5vw solid var(--text_color);
	border-bottom: .25vw solid transparent;
}
/* content */
/* header */
.frp_content{
    width: 82%;
}
.frp_model_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.frp_content .frp_model_header{
    border-top: 1px solid var(--header_border);
    border-bottom: 2px solid var(--header_border);
}
.frp_content .frp_model_header .frp_header_btn{
    padding: .5vw 2vw;
    border: none;
    outline: none;
    margin-right: -2px;
    color: #000000;
    background: #E47C17;
}
.frp_content .frp_model_header .frp_header_buttons{
    position: relative;
    
    width: 85%;
}
.frp_content .frp_model_header .frp_content_header_love_img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.frp_content .frp_model_header .frp_content_header_find_dealer{
    font-size: 1vw;
    background-color: #000000;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    gap: 10px;
}
/* choose your model */
.frp_choose_your_model_content{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    /* align-items: center; */
    padding: 4vw;
}
.frp_choose_your_model_content .frp_choose_your_model_text{
    padding: 2vw 0 3vw 0;
}
.frp_choose_your_model_content .frp_choose_model_options{
    display: flex;
    gap: 2vw;
}
.frp_choose_your_model_content .frp_choose_model_options .frp_model{
    display: flex;
    flex-direction: column;
    gap: .8vw;
    font-size: 1vw;
    color: var(--text_color);
}
.frp_choose_your_model_content .frp_choose_model_options .frp_model label{
    display: flex;
    gap: 0.4vw;
    align-items: center;
}
/* next button  */
.frp_choose_your_model_content .frp_next_btn{
    display: flex;
    justify-content: end;
    margin: 20vh 10vh;
}
.frp_choose_your_model_content .frp_next_btn button{
    padding: .5vw 2.5vw;
    border: none;
    background: #E47C17;
    color: #FFFFFF;
}

/* size css */
.frp_choose_content{
    padding: 3vw;
}
.frp_main_content .frp_choose_content{
    width: 60%;
}
.frp_main_content .frp_choose_content .frp_choose_text{
    font-size: 18px;
    padding: 8px 0 16px 0;
}
.frp_choose_size_options section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vw 0;
}
.frp_size_fields{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: .5vh;
    letter-spacing: -0.12px;
    font-size: 12px;
}
.frp_content .frp_main_content{
    display: flex;
    color: var(--text_color);
}
.frp_right_side_content .frp_you_are_designing_text{
    padding: 1.5vh 0 4vh 0;
    font-size: 18px;
}

.frp_main_content .frp_right_side_content{
    border-left: 2px solid var(--header_border);
    padding: 3vw;
    width: 40%;
}
.frp_main_content .frp_right_side_content .frp_data_title{
    font-weight: bold;
    color: #000000;
}
.frp_main_content .frp_right_side_content .frp_data_title span{
    font-size: 16px;
}
.frp_main_content .frp_right_side_content .frp_product_details{
    font-size: 1.1vw;
}
.frp_main_content .frp_right_side_content .frp_product_details p{
    padding-bottom: 6px;
}
.frp_main_content .frp_right_side_content .frp_product_image{
    display: flex;
    justify-content: center;
    margin: 25vh 0;
}
.frp_main_content .frp_right_side_content .frp_btns{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 10vh;
}
.frp_main_content .frp_right_side_content .frp_btns .frp_back_btn{
    padding: 0.5vw 2.5vw;
    background: var(--btn_back_backgound);
    border: none;
    color: #FFFFFF;
}
.frp_main_content .frp_right_side_content .frp_btns .frp_next_btn{
    padding: 0.5vw 2.5vw;
    background: var(--btn_next_backgound);
    border: none;
    color: #FFFFFF;
}
/* header btn */
.frp_content .frp_model_header .model_btn_in_size{
    background: #939191;
}
.frp_sidebar .frp_sidebar_option .active_choose_size{
    color: #575757;
}
/* background css */
.frp_main_content .frp_choose_fields{
    display: flex;
    gap: 12px;
}
.frp_main_content .frp_choose_text{
    margin: 5vh 0;
}
.frp_main_content .frp_choose_fields .frp_background{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.frp_main_content .frp_choose_fields .frp_background label{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 12px;
    font-size: 12px;
    color: #000000;
}
.frp_sidebar .frp_sidebar_option .count_in_background{
    color: #838383;
}
.frp_content .frp_model_header .btn_in_background{
    background: #939191;
}
/* Burner css */
.frp_main_content .frp_choose_burner{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.frp_main_content .frp_choose_burner .frp_burner{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.frp_main_content .frp_choose_burner .frp_burner label{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 12px;
    font-size: 12px;
    color: #000000;
}
.frp_sidebar .frp_sidebar_option .count_in_burner{
    color: #838383;
}
.frp_content .frp_model_header .btn_in_burner{
    background: #939191;
}

/* locate dealer location */
.frp_locate_dealer_search_div{
    width: 25%;
    margin-left: auto;
}

/* media css */
.frp_main_content .frp_choose_media_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 5vh;
}
.frp_main_content .frp_choose_media_items .frp_media_item{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #575757;
    font-weight: 400;
}
.frp_main_content .frp_choose_media_items .frp_media_item label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(8px + 0.5vmax);
    margin-top: calc(4px + 0.5vmax);
}
.frp_sidebar .frp_sidebar_option .count_in_media{
    color: #838383;
}
.frp_content .frp_model_header .btn_in_media{
    background: #939191;
}


/* room scene css */
.frp_sidebar .frp_sidebar_option .count_in_room_scene{
    color: #838383;
}
.frp_content .frp_model_header .btn_in_room_scene{
    background: #939191;
}
.frp_main_content .frp_choose_room_scene_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(12px + 1.5vmax);
    row-gap: 5vh;
}
.frp_main_content .frp_choose_room_scene_items .frp_room_scene_item{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #575757;
    font-weight: 400;
}
.frp_main_content .frp_choose_room_scene_items .frp_room_scene_item label{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: calc(4px + 0.5vmax);
}
.frp_main_content .frp_room_scene_upload_file{
    padding: calc(24px + 4.5vmax) 0 calc(24px + 2vmax) 0 ;
}
.frp_main_content .frp_room_scene_upload_file .frp_upload_file_what_to_see_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 16px;
}
.frp_main_content .frp_room_scene_upload_file .frp_uplaod_file_btn{
    padding: 6px 12px;
    border: none;
    background: var(--btn_next_backgound);
    color: #FFFFFF;
    font-size: 12px;
}
.frp_right_side_content .frp_room_scene_right_content_details_data table{
    border-collapse: collapse;
    width: 100%;
}
/* .frp_right_side_content .frp_room_scene_right_content_details_data table, */
.frp_right_side_content .frp_room_scene_right_content_details_data td{
    border-bottom: 2px solid var(--header_border);
    text-align: left;
    padding: 12px calc(12px + 5vmax) 12px 0;
    font-size: 12px;
}
.frp_right_side_content .frp_room_scene_right_content_details_data th{
    border-bottom: 2px solid #000000;
    text-align: left;
    padding: 12px calc(12px + 5vmax) 12px 0;
    font-size: 12px;
    color: #000000;
}
.frp_right_side_content .frp_room_scene_right_content_details_data tr td:first-child{
    color: #E47C17;
}
.frp_right_content_for_room_scene{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(24px + 2.5vmax);
}
.frp_right_content_for_room_scene .frp_save_wishlist_get_quote_find_dealer{
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.frp_right_content_for_room_scene .frp_save_wishlist_get_quote_find_dealer .frp_wishlist_quote_dealer{
    background: #000000;
    font-size: 10px;
    color: #FFFFFF;
    padding: 12px;
}












.frp_fireplace_container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* background image size  */
.frp_fireplace_container{
    min-width: 1350px;
    min-height: 700px;
    position: relative;
}
.frp_fireplace_background img{
    min-width: 100%;
    min-height: 100%;
}
.frp_fire_img{
    border: 1px solid salmon;
    position: absolute;
    top: 550px;
    left: 120px;
}
/* firebase design studio */
.frp_fireplace_design_studio_div{
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    background-color: #666667;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 15%;
    min-width: 300px;
    min-height: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.frp_fireplace_design_studio_div .frp_ortal_logo{
    margin-bottom: 220px;
    display: flex;
    justify-content: center;
    margin-top: 52px;
}
.frp_fireplace_design_studio_div .frp_fireplace_text{
    margin-bottom: 32px;
}
.frp_fireplace_text .frp_fireplace{
    font-size: 53px;
    font-weight: lighter;
    margin-bottom: -16px;
}
.frp_fireplace_text .frp_design_studio{
    letter-spacing: 2.74px;
    font-size: 34px;
    color: #D9D9D9;
    
}
.frp_explore_design_text{
    text-align: center;
    font-weight: 200;
    line-height: 1.30;
    color: #D9DBDF;
}
.frp_fireplace_design_studio_div .frp_lets_roll .frp_btn{
    background: #E47C17;
    padding: 8px 32px;
    outline: none;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 300;
}